@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-500 {
    animation-delay: 0.5s;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .hidden-before-animation {
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .text-shadow {
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
  }
}